*
!Cargo.toml
!crates/**/Cargo.toml
!crates/**/src/**/*.rs
!crates/**/tests/**/*.rs
!crates/**/benches/**/*.rs
!src/**
!tests/**
!docs/**
!ADR/**
!.github/**
!tools/**
!scripts/**
!.vscode/**
!proto/**
!*.toml
!*.md
!LICENSE
target/
Cargo.lock
